## export const environment = {
## production: true,
## firebaseConfig: {
## apiKey: tu apikey
## authDomain: tu authDomain,
## projectId: tu project id,
## storageBucket: tu storageBucket,
## messagingSenderId: tu messagingSenderId,
## appId: tu appId
## }
## };

